<div class="col-md-2"></div>
<div class="col-md-6">
  <h1 class="text-center">Tilføj Spil</h1>
  <form (ngSubmit)="onSubmit()" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="emne" class="control-label required">Emne</label>
      <select class="form-control" id="emne" ng-model="emne" ng-options="">
        <option>
          vælg emne
        </option>
        <option *ngFor="let emne of listOfEmner" [ngValue]="emne">
          {{ emne.emne }}
        </option>
      </select>
      <button type="button" class="btn btn-sm btn-success pull-right" (click)="openModalDialog()">Tilføj emne</button>
    </div>
    <div class="form-group">
      <label for="spørgsmål" class="control-label required">spørgsmål</label>
      <input class="form-control" type="text" id="spørgsmål" placeholder="spørgsmål">
    </div>
    <div class="form-group">
      <label for="spørgsmålbillede" class="control-label required">Billede</label>
      <input class="form-control"  type="file" accept="image/*" id="spørgsmålbillede" (change)="onFileChange($event)" formControlName="emneBillede" #fileInput>
    </div>
    <div class="form-group">
      <h3 class="text-center">Svar muligheder</h3>
    </div>
    <div class="form-group">
      <label for="type">Type</label>
      <select class="form-control" id="type" (change)="onSelectChange($event)">
        <option>
          2 svar
        </option>
        <option>
          4 svar
        </option>
      </select>
    </div>
    <div id="labels">
      <div class="col-md-5">
        <label for="svar1" class="control-label required">Svar 1</label>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <label for="svar2" class="control-label required">Svar 2</label>
      </div>
    </div>

    <div class="form-horizontal" id="inputs">
      <div class="col-md-5">
        <input type="text" placeholder="svar 1" id="svar1">
        <input type="checkbox">Rigtig?
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <input type="text" placeholder="svar 2" id="svar2">
        <input type="checkbox" id="checkbox2">Rigtig?
      </div>
    </div>
    <div *ngIf="questions" id="hiddencontainer">
      <div id="labels">
        <div class="col-md-5">
          <label for="svar3" class="control-label required">Svar 3</label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <label for="svar4" class="control-label required">Svar 4</label>
        </div>
      </div>

      <div class="form-horizontal" id="inputs">
        <div class="col-md-5">
          <input type="text" placeholder="svar 3" id="svar3">
          <input type="checkbox">Rigtig?
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <input type="text" placeholder="svar 4" id="svar4">
          <input type="checkbox">Rigtig?
        </div>
      </div>
    </div>


    <div class="form-group">
      <button type="submit" class="btn btn-success form-control">Tilføj til spil
        <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
      </button>
    </div>

  </form>
</div>
<div class="backdrop" [ngStyle]="{'display':display}"></div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tilføj Emne</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModalDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="emneForm" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label class="control-label required" for="emne">Emne</label>
            <input class="form-control " type="text" id="emne" placeholder="skriv emne" formControlName="emne">
          </div>
          <div class="form-group">
            <label class="control-label required" for="beskrivelse">Beskrivelse</label>
            <input class="form-control" type="text" id="beskrivelse" placeholder="skriv Beskrivelse"formControlName="beskrivelse">
          </div>
          <div class="form-group">
            <label for="emneBillede">Billede</label>
            <input class="form-control" type="file" accept="image/*" id="emneBillede" (change)="onEmneFileChange($event)" formControlName="emneBillede" #fileInput>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" (click)="addEmne(emneForm.value)" class="btn btn-primary" [disabled]="!emneForm.valid">Tilføj Emne</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModalDialog()">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-3"></div>